h1 {
    text-align: center;
    background-color: #e2f10c;
    /* 背景色をつける */

    /* 内側の余白を指定 */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(../images/water.jpg);
}

.box_a  {
    width: 600px;
    height: 500px;
    border: 1px solid #000;
    background-image: linear-gradient(to bottom, #0bddec, #e8ebe9);
    box-shadow:none;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    text-align: center;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 200px;
    margin-bottom: 10px;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 30px;
    color: rgb(238, 139, 10);

}

 /* p {
    }
     */